<div>
<a>
    <img src="\assets\images\logo_03.png" class="d-inline-block align-top" alt="logo">
  </a>
  <ul class="top-level-menu">
    <li><a href="">Home</a></li>
    <li>
        <a href="">Category</a>
        <ul class="second-level-menu">
            <li><a [routerLink]="[ '/art-craft']">Art & Craft</a>
              <ul class="third-level-menu">
                <li><a [routerLink]="[ '/water-color']">Water Color</a></li>
                <li><a [routerLink]="['/pencil-color']">Pencil Color</a></li>
              </ul>
            </li>
            <li><a [routerLink]="[ '/sch-stationary']">School Stationary</a>
                <ul class="third-level-menu">
                  <li><a [routerLink]="['/geometry-box']">geometry box</a></li>
                  <li><a [routerLink]="['/natraj-pencil']">Natraj pencil</a></li>
                </ul>
            </li>
            <li><a [routerLink]="[ '/college-stationary']">College Stationary</a>
              <ul class="third-level-menu">
                <li><a [routerLink]="['/drafter-omega']">Drafter Omega</a></li>
                <li><a [routerLink]="['/roller-scale']">Roller scale</a></li>
              </ul>
            </li>
            <li><a [routerLink]="[ '/computer-stationary']">Computer Stationary</a>
              <ul class="third-level-menu">
                <li><a [routerLink]="['/pendrive']">Pendrive</a></li>
                <li><a [routerLink]="['/cd-wallet']">CD wallet</a></li>
               </ul>
            </li>
            <li><a [routerLink]="[ '/office-stationary']">Office Stationary</a>
              <ul class="third-level-menu">
                <li><a [routerLink]="['/dairies']">DIARIES</a></li>
                <li><a [routerLink]="['/pens']">Pens</a></li>
              </ul>
            </li>
        </ul>
    </li>
    <li><a [routerLink]="['/login']">Login</a></li>
    <li><a [routerLink]="['/signup']">SignUp</a></li>
  </ul>
</div>


