
<div *ngIf=flag>
<app-filtersection></app-filtersection>
</div>
<div>
<h1>{{abc }}</h1>
<div *ngFor="let book of books">
  <div class="col-md-2 column productbox">
      <img src={{book.url}} class="img-responsive">
      <div class="producttitle"  >{{book.title}}</div>
      <div class="productprice"><div class="pull-right"><button (click)="addCart(book.title,book.price)" class="btn btn-danger btn-sm">Add To Cart</button></div><div class="pricetext" >{{book.price}}</div></div>
  </div>
</div>
<div *ngFor="let book of book1">
  <div class="col-md-2 column productbox">
      <img src={{book.url}} class="img-responsive">
      <div class="producttitle">{{book.title}}</div>
      <div class="productprice"><div class="pull-right"><button (click)="addCart(book.title,book.price)" class="btn btn-danger btn-sm">Add To Cart</button></div><div class="pricetext">{{book.price}}</div></div>
  </div>
</div>
</div>


<div *ngIf=cart id="theList">
  <h2>The list</h2>
  <ul>
    <li *ngFor="let item of items">{{item.title}} | {{item.price}} </li>
  </ul>
</div>