<div style="text-align:center">
   <div class="clearfix">
    <div class="column menu">
      <header>
        Catagories
      </header>
      <br><br>
      <ul>
        <li>
          Books
        </li>
        <ul>
          <li>Educational</li>
          <li>General Knowledge</li>
          <li>Aptitude</li>
        </ul>
        <br>
        <li>
          Pencils
        </li><br>
        <li>
          Crayons
        </li><br>
      </ul>
    </div>
  
    <div class="column content">
      <div class="col-md-2 column productbox">
        <img src="/assets/images/book.jpg" class="img-responsive">
        <div class="producttitle">Product 1</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
    </div>
    <div class="col-md-2 column productbox">
        <img src="/assets/images/book.jpg" class="img-responsive">
        <div class="producttitle">Product 2</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
    </div>
    <div class="col-md-2 column productbox">
        <img src="/assets/images/book.jpg" class="img-responsive">
        <div class="producttitle">Product 3</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
    </div>
    <div class="col-md-2 column productbox">
        <img src="/assets/images/book.jpg" class="img-responsive">
        <div class="producttitle">Product 4</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
    </div>
    </div>
  </div>
</div>